/* basic reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* font-size: 10px; */
  /* 10/16 = 0.625 */
  // this defines what 1 rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
